/* h2 {
    color: black;
}
div {
    width: 100px;
    height: 100px;
    background-color: black;
    margin:10px;
}


.greenBlock {
    background-color: darkgoldenrod;
}

.NewBlock {
    background-color: azure;
} */
/* 
div {

    margin: 10px;
    border: 1px solid #a35aa3;
}
#hearder {
    height: 80px;
    background-color: blue;
}

#content {
    height: 180px;
}
#footer {
    height: 100px;
    background-color: blanchedalmond;
} */

/* a:link {
    color: greenyellow;
    text-decoration: none;
}
a:visited {
    color: aqua;
    text-decoration: none;
}
a:hover {
    color: lavenderblush;
    text-decoration: underline;
}
a:active{
    color: red;
    text-decoration: under;
}
input:hover {
    border: 2px solid blueviolet;
} */

/* h2 p {
    color: red
} */

/* body {
    color:blue
}
p {
    color: blanchedalmond;
} */

div {
    color:blue
}